<p>
  <strong>Team:</strong>
  <%= team.name %>
</p>


<p>
  <strong>Captain:</strong>
  <%= team.captain %>
</p>

<% vip_area do%>
    <p>
      <strong>Email:</strong>
      <%= team.email %>
    </p>
<% end %>

