<% provide(:title, 'About Us') %>

<h1> About Us </h1>
<%= mail_to 'pilip.olkin+project@gmail.com','Email Project Developer', subject: "#{League::NAME} details",
            body: 'Dear Olga, Please tell us more about your project. Thanks!'%>
