<% provide(:title, 'About Us') %>
<div class="center hero-unit">
  <h1>20th Annual Schanks Beach Volleyball Classic</h1>
  <h2>Saturday, July 19 & Sunday July 20</h2>

  Our premier tournament of the summer
  <h3> Leagues </h3>
  <%League.all.each do |league|%>
      <%= link_to league.description, league %>
  <%end%>
  <br/>

  <h3>Location</h3>
  2 courts @ Schanks South : 9627 Macleod Trail South, Calgary
  <br/>
  12 courts @ CBVA: 28street and 30ave SE, Calgary

  <h3>Cost</h3>
  $40.00 per Player includes T-Shirt, & Schanks tournament package full of goodies.

  <h3>A lot of fun games to play</h3>
  Round Robin Saturday, and Full Double Elimination Sunday.

  <h3>Social</h3>
  Social on Friday and Saturday Nights at Schanks South.

  <br/>
  Licenced Patio outside by the courts

  For more info:  Click Here




  <h3>About CBVA</h3>

  The Calgary Beach Volleyball Association (CBVA) is a non-profit, volunteer-run organization
  that has been serving volleyball enthusiasts in Calgary through its leagues and tournaments
  since 1990. Each season, the CBVA has over 800 participants in our leagues and tournaments.
  Our 12 outdoor sand courts were built by volunteers, volleyball enthusiasts and fans.
  <br/>
  The CBVA leagues and events provide a great environment for friendly competition, meeting
  new people and introducing new participants to the sport.

  <h1>Everyone is welcome, our leagues range from recreational to advanced levels </h1>
</div>