<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  20th Annual Schanks Beach Volleyball Classic
  Our premier tournament of the summer
  Saturday, July 19 & Sunday July 20,
  Men's 2s, Women's 2s & Co-ed 4s
  Play will be at Schanks South (9627 Macleod Trail South) and at the CBVA (28street and 30ave SE)
  $40.00 per Player includes T-Shirt, & Schanks tournament package full of goodies.
  Round Robin Saturday, and Full Double Elimination Sunday.
  Social on Friday and Saturday Nights at Schanks South.
  Licenced Patio outside by the courts
  For more info:  Click Here




  About CBVA

  The Calgary Beach Volleyball Association (CBVA) is a non-profit, volunteer-run organization
  that has been serving volleyball enthusiasts in Calgary through its leagues and tournaments
  since 1990. Each season, the CBVA has over 800 participants in our leagues and tournaments.
  Our 12 outdoor sand courts were built by volunteers, volleyball enthusiasts and fans.

  The CBVA site is located at Valleyview Regional Park. Click on the Map to Courts link in the
  navigation bar above for directions and map.

  The CBVA leagues and events provide a great environment for friendly competition, meeting
  new people and introducing new participants to the sport.

  Everyone is welcome, our leagues range from recreational to advanced levels.

</p>