<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact CBVA</h1>
  <p>
    We're available by email or look for us at the site.
    <br/><strong>General</strong>:	info@cbva.ca
    <br/><strong>League registration</strong>:	 league@cbva.ca
    <br/><strong>Scheduling</strong>: 	 scheduler@cbva.ca
    <br/><strong>Tournaments</strong>:	 tournaments@cbva.ca
  </p>
</div>