<% provide(:title, 'Contact') %>
<h1>Contact <%= League::NAME %> </h1>

<p>
    This is a test project for <%= League::NAME %>. Contact
  <%= mail_to 'pilip.olkin+project@gmail.com','Project Developer', subject: "#{League::NAME} details",
              body: 'Dear Olga, Please give me more details about your project. Thanks!'%>
  for more details about the project.
</p>

<!--
<p>
  We're available by email or look for us at the site.
  <br/><strong>General</strong>: info@cbva.ca
  <br/><strong>League registration</strong>: league@cbva.ca
  <br/><strong>Scheduling</strong>: scheduler@cbva.ca
  <br/><strong>Tournaments</strong>: tournaments@cbva.ca
</p>

-->