<% provide(:title, "Welcome to #{League::NAME}") %>

<h1>Welcome to <%= League::NAME %></h1>

<% if @leagues.any? %>

    <%= render 'teams/search' %>

    <ul class="rounded-list">
      <%= render @leagues %>
    </ul>

<% else %>
      No open events. Try again later.
<% end %>

<br/>

<% admin_area do%>
    <%= link_to 'Add event', new_league_path %>
<% end %>
