<% provide(:title, "Welcome to #{League::NAME}") %>

<h1>Welcome to <%= League::NAME %></h1>

<%= render 'teams/search' %>

<ul class="rounded-list">
  <%= render(@leagues) || ' No open events. Try again later.' %>
</ul>

<br/>

<% admin_area do%>
    <%= link_to 'Add event', new_league_path %>
<% end %>
