<%if admin?%>
<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%end%>
<br>

<%= link_to 'Add user', new_user_path%> |
<%= link_to 'Leagues', leagues_path%>
