<table>
  <thead>
  <tr>
    <th>Rank</th>
    <th>Team</th>
    <th>Games played</th>
    <th>Games won</th>
    <th>Points diff won</th>
    <th>Cur Rank</th>
  </tr>
  </thead>
  <tbody>
  <%@tier_standings.each do |standing|%>
      <tr>
        <td><%=standing.rank%></td>
        <td><%= link_to "#{standing.team.name}", standing.team %>
          <br/> <%= standing.team.captain %> </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <%end%>
  </tbody>
</table>