<% matches_by_game = @tier_matches.group_by{ |match| match.game}.sort %>

<% matches_by_game.each do |_, game_matches|%>
    <p>
    <% game_matches.sort{|x,y| x[:court]<=>y[:court]}.each do |match| %>
       <% @match = match %>
       <%= render 'matches/form' %>
    <% end %>
    </p>
<%end%>

